.column {
  background-color: #ebecf0;
  min-width: 300px;
  max-width: 300px;
  padding: 20px;
  margin: 20px;
}

.columnheader {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.nocandidatescard {
  text-align: center;
  padding: 30px 20px;
}

.nocandidates {
  color: #a6a19f;
}

.buttonadd {
  width: 100%;
}
